.popularMovies{
    display: flex;
    padding:2rem;
    background-color: rgb(69, 69, 69);
    flex-wrap: wrap;
}
.image{
  margin-top: 20px;
  width: 280px;
  height:370px;
  display:inline-flex;
  padding:1rem;
    margin: 1rem;
}
.popularMovies img:not(.active):hover{
    background-color: #eef0f0;
}
.popularMovies .movieInfo{
    color: white;
    padding:1.5rem;
    margin: 2rem;
    display:inline-flex;

}
.popularMovies .poster_text{
    color: white;
    text-align:start;
    width: 280px;
    margin-left: 2rem;
}

@media(max-width:480px){
    .popularMovies{
        display: flex;
        padding:2rem;
        background-color: rgb(69, 69, 69);
    }
}